.techs {
    min-height: 625px;
    background-color: #272727;
}

.techs__header {
    margin: 0 70px 90px;
    padding: 100px 0 23px;
    max-width: 90%;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
}

.techs__title {
    margin: 0 auto 26px;
    max-width: 600px;
    text-align: center;
    font-size: 50px;
    letter-spacing: -2px;
    font-weight: 400;
    line-height: 58px;
}

.techs__text {
    margin: 0 auto;
    text-align: center;
    max-width: 480px;
    font-size: 14px;
    letter-spacing: -0.56px;
    font-weight: 400;
    line-height: 20px;
}

.techs__icons {
    max-width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 100px auto;
}

.techs__icon {
    list-style: none;
    min-width: 90px;
    height: 60px;
    padding: 21px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #303030;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
}

@media screen and (max-width: 1023px) {
    .techs {
        min-height: 567px;
    }

    .techs__header {
        padding-top: 90px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 80px;
    }

    .techs__title {
        margin-bottom: 22px;
    }

    .techs__text {
        max-width: 460px;
    }

    .techs__icons {
        margin-top: 83px;
        margin-bottom: 90px;
    }

    .techs__icon {
        min-width: 84px;
        max-height: 57px;
    }
}

@media screen and (max-width: 767px) {
    .techs {
        min-height: 651px;
    }

    .techs__header {
        padding-top: 70px;
        padding-bottom: 28px;
        margin-left: 18px;
        margin-right: 18px;
        margin-bottom: 48px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .techs__title {        
        max-width: 292px;
        margin-bottom: 13px;
        font-size: 30px;
        letter-spacing: -1.2px;
    }

    .techs__text {
        max-width: 292px;
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
    }

    .techs__icons {
        max-width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 84px);
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .techs__icon {
        min-width: 84px;
        max-height: 57px;
    }
}