.search {
    width: 90%;
    max-width: 1140px;
    margin: 60px auto 0;
    padding-bottom: 69px;
    border-bottom: 1px solid #424242;
}

.search__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search__input {
    color: #fff;
    width: 100%;
    background-color: #2f2f2f;
    height: 46px;
    border: none;
    border-radius: 40px;
    padding-left: 22px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 auto 39px;
    outline: none;
}

.search__input-error {
    position: absolute;
    top: 55px;
    left: 10px;
    color: #EE3465;
    font-weight: 400;
    font-size: 10px;
}

.search__submit {
    position: absolute;
    top: 6px;
    right: 6px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("./../../../images/find.svg");
    width: 34px;
    height: 34px;
    background-size: contain;
    cursor: pointer;
}

.search__submit:hover {
    opacity: .7;
    transition: opacity ease-out .3s;
}

.search__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.search__checkbox + .search__text::before {
    margin-right: 13px;
    display: inline-block;
    content: "";
    width: 36px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("./../../../images/filter.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.search__checkbox + .search__text::before:hover {
    opacity: .7;
    transition: opacity ease-out .3s;
}

.search__checkbox:checked + .search__text::before {
    background-image: url("./../../../images/filter_active.svg");
}

.search__checkbox:focus:not(:checked) + .search__text::before {
    background-image: url("./../../../images/filter.svg");
}

.search__checkbox:disabled + .search__text::before {
    opacity: .3;
    cursor: auto;
}

.search__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .search {
        width: 92%;
        margin-top: 80px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .search__input {
        font-size: 11px;
    }
}

@media screen and (max-width: 767px) {
    .search__text {
        font-size: 11px;
    }
}